body {
    background-image: url("../img/pattern.jpg");
    margin: 0;
  }
  
  nav {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    display: inline;
    float: right;
    padding: 20px;
    color: blue;
    font-weight: bolder;
  }
  
  li:hover {
    text-decoration: underline;
  }
  
  ul {
    padding-left: 0px;
    margin: 0px;
  }
  
  section {
    background-color: white;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 90px;
    padding: 20px;
  }
  
  a {
    text-decoration: none !important;
  }
  
  h1 {
    text-align: center;
  }
  
  footer {
    background-color: black;
    height: 55px;
    position: relative;
    margin-top: 30px;
  }
  
  footer h5 {
    text-align: center;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media only screen and (max-width: 1024px) {
    section {
      background-color: white;
      margin-left: 180px;
      margin-right: 180px;
      padding: 20px;
    }
  }